/* Imports Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


/* Buttons style */
button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
}

/* Start of Header and Footer Changes */
.header, .footer {
    display: flex;
    background-color: #1F2937;
    padding: 8px 128px;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.links {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
/* End of Header changes */

/* Start of Hero Changes */
.main-text {
    min-height: 400px;
    display: flex;
    flex: 1;
    background-color: #1F2937;
    padding: 64px 128px;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.text {
    width: 500px;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
}

.second {
    font-size: 18px;
    color: #E5E7EB;
}
/* End of Hero Changes */

/* Start of Info Changes */
.info {
    min-height: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 32px 64px 32px;
}

.info .hero{
    color: #1F2937;
    font-size: 36px;
}

.container{
    display: flex;
    text-align: center;
    gap: 32px;
}

.bear{
    border: 4px solid #3882F6;
    border-radius: 32px;
}

.description {
    color: #1F2937;
    font-size: 18px;
}
/* End of Info Changes */

/* Start of Quote */
.quote {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;

    color: #1F2937;
}

.quote-text{
    width: 600px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: justify;
    margin: 0;
}

.quote-author {
    width: 600px;
    text-align: end;
    font-size: 18px;
    font-weight: bolder;
}
/* End of Quote */

/* Start of Sign Up */
.sign-up {
    display: flex;
    flex: 1;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 48px 80px;

    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 16px;

}

.signup-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.signup-text {
    font-size: 18px;
    margin: 0;
}

.signup-box button {
    border: 2px solid #E5E7EB;
}
/* End of Sign Up */
.footer {
    text-align: center;
}


